@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--notion-font: inherit;
}
@layer components {

	.bg-primary {
		@apply bg-[#fff] dark:bg-black;
	}

	.fill-primary {
		@apply fill-black dark:fill-white;
	}
	
	.bg-secondary {
		@apply bg-[#0a0a0a] dark:bg-customGray-light;
	 }

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-slate-500;
  }
}

html {
  scroll-behavior: smooth;
}

a,
div,
button {
  -webkit-tap-highlight-color: transparent;
}

body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.intro{
  	margin: auto;
	padding: 5%;;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size : 1.5em;
}

#text{
	text-align: left;
	font-size : 1.25em;
	text-transform: lowercase;
}

.rotator{
    align-content:flex-start;
    align-items:flex-start;
    align-self:start;
    display:flex;
    flex:none;
    flex-direction:column;
    flex-wrap:nowrap;
    gap:48px;
    height:100%;
    justify-content:center;
    justify-self:start;
    overflow:hidden;
    padding:0;
    position:relative;
    transform:perspective(1200px);
    width:100%;
	height:390px;
	min-height:340px;
}