@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-slate-500;
  }
}

html {
  scroll-behavior: smooth;
}

a,
div,
button {
  -webkit-tap-highlight-color: transparent;
}

body{
	background: #0a0a0a;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content{
	font-family: monospace;
  margin: auto;
	color: white;
	padding: 5%;;
}

#title{
	text-align: center;
	text-transform: uppercase;
	font-size : 1.5em;
}

#text{
	text-align: left;
	font-size : 1.25em;
	text-transform: lowercase;
}
